/* Use a more-intuitive box-sizing model */
* {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
}

/*  */

#container {
  width: 100%;
  height: 100%;
  background-color: darkgray;
}

.square-divs {
  background-color: cadetblue;
}

#gridButton {
  position: fixed;
  top: 20px;
  right: 20px;
}
